[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
*.pidb
*.booproj
*.suo
*.user
*.userprefs
*.csproj
*.unityproj
*.sln
*.sln.docstates
*.swp
*.tmp
*.bak
*.ncb
*.VC.db
*.ide

.plastic/
PlasticSCM/

.collab/
*.collabignore

.idea/
*.sln.iml

.vscode/
.history/

.idea/
*.ipr
*.iws
.idea/

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Icon?
Thumbs.db
desktop.ini

*.apk
*.aab
*.xcuserstate
*.xcworkspace
*.xcodeproj/*
*.gradle
*.keystore
*.jar
*.dex
*.class

*.dmp
*.crash

AssetStoreTools*

Assets/AssetStoreTools*
Assets/Plugins/Editor/JetBrains*
Assets/Plugins/Editor/Resharper*

*.generated.cs

